*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../Imagens/background.jpg");
  background-size: 98.7% 100%;
  background-attachment: fixed;
}

h1 {
  font-family: monospace;
  color: whitesmoke;

  background-color: rgb(104, 104, 151);

  border-radius: 5px;

  width: 288px;

  margin: 10px;
  margin-top: 50px;
  margin-right: 60px;
  padding: 10px;

  position: absolute;
  right: 0px;

  box-shadow: 4px 3px 10px 0px rgb(95, 95, 95);
}

header div {
  height: 143px;
}

header::after {
  content: '';
  display: block;

  background-color: rgb(104, 104, 151);

  width: 100%;
  height: 1px;

  margin: 10px auto;
  margin-top: 20px;
}

.subjects .title_subjects{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: whitesmoke;

  background-color: rgb(104, 104, 151);

  border-radius: 5px;

  width: 100px;

  margin: 20px;
  padding: 10px;

  box-shadow: 4px 3px 10px 0px rgb(117, 117, 117);
}

.subjects ul {
  font-family: monospace;
  color: black;

  margin-left: 100px;

  list-style-image: url("../Imagens/seta-direita.png");
}

.subjects li {
  border-radius: 5px;

  width: 419px;

  margin-top: 40px;

}

.subjects a {
  text-decoration: none;

  background-color: whitesmoke;

  border-bottom: 5px solid rgb(212, 212, 212);
  border-radius: 5px;

  width: 400px;

  padding: 10px;

  box-shadow: 4px 3px 10px 0px rgb(117, 117, 117);

  transition: 0.5s;
}

.subjects a:hover {
  color: whitesmoke;
  background-color: rgb(104, 104, 151);
  border-color: rgb(81, 81, 117);
  padding-left: 90px;
}

.subjects a:active {
  color: rgb(190, 190, 190);
  background-color: rgb(81, 81, 116);

  transition: 0s;

  border: none;
  box-shadow: none;

  position: relative;
  top: 5px;
}

footer p {
  font-family: monospace;
  font-size: 18px;
  color: rgb(10 4, 104, 151);

  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;

  height: 20px;

  position: absolute;
  bottom: 0;
}

footer::before {
  content: '';
  display: block;

  background-color: rgb(104, 104, 151);

  width: 100%;
  height: 1px;

  margin: 10px auto;

  position: absolute;
  bottom: 57px;
}

footer a{
  text-decoration: none;

  background-color: whitesmoke;

  border-radius: 5px;
  border-bottom: 3px solid rgb(212, 212, 212);

  box-shadow: 4px 3px 10px 0px rgb(117, 117, 117);

  padding: 5px;

  transition: 0.5s;
}

footer a:hover {
  color: whitesmoke;
  background-color: rgb(104, 104, 151);
  border-color: rgb(81, 81, 117);
}

footer a:active {
  color: rgb(190, 190, 190);
  background-color: rgb(81, 81, 116);

  border: none;
  box-shadow: none;

  position: relative;
  top: 3px;
}